
<div class="page-header">
  <h1>Wszystkie statusy</h1>
</div>

<!-- Link do dodawania nowego posta -->
<%= link_to "Dodaj nowy wpis", new_status_path, class: "btn btn-success" %>

<!-- Pętls odpowiedzialna za wyswietlanie statusów -->
<% @statuses.each do | status | %>

<div class="status">
  <strong>Nazwisko</strong>
    <!--Kod opowiedzialny za pobieranie nazwiska z bazy danych kiedys tu bedzie-->
  <p><%= status.content %></p>
  <div class="meta">
    <%= link_to time_ago_in_words(status.created_at) + " temu", status %> 
    <!-- Ustawić potem na jezyk PL-->
    <span class="admin"> | 
      <%= link_to "Edytuj", edit_status_path(status) %> | 
      <%= link_to "Usuń", status, method: :delete, data: { confirm: "Jesteś pewny że chcesz to usunać"} %>
    </span>
  </div>
</div>

<% end %>