<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwisko:</strong>
    <%= @status.user.first_name %> <%= @status.user.last_name %>
  <!--kod opowiedzialny za pobieraznie imienai i nazwiska z bazy danych-->
</p>

<p>
  <strong>Zawartość wpisu:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edytuj', edit_status_path(@status) %> |
<%= link_to 'Cofnij', statuses_path %>
