<p id="notice"><%= notice %></p>

<p>
  <strong>Nazwa:</strong>
  <%= @status.name %>
</p>

<p>
  <strong>Zawartość wpisu:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Edytuj', edit_status_path(@status) %> |
<%= link_to 'Cofnij', statuses_path %>
