<div class="row">
  <div class="col-md-4">

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "well" }) do |f| %>
    <fieldset>
      <legend>Zaloguj</legend>
      <%= f.input :email %>
      <%= f.input :password %>
      <% if devise_mapping.rememberable? -%>
      <div>
        <%= f.input :remember_me, as: :boolean %>
      </div>
      <% end -%>

      <div class="actions">
        <%= f.button :submit ,'Zaloguj'%>
      </div>
    </fieldset>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <div class="col-md-8">
    <div class="aquarium">
      <div class="fish">
        <div class="fish-body">
          <div class="eye">
            <div class="pupil"></div>
          </div>
        </div>
        <div class="fin"></div>
        <div class="fin fin-bottom"></div>
      </div>

      <div class="bubbles bubble-1"></div>
      <div class="bubbles bubble-5"></div>
      <div class="bubbles bubble-2"></div>
      <div class="bubbles bubble-6"></div>
      <div class="bubbles bubble-3"></div>

    </div>

  </div>
</div>
