<!DOCTYPE html>
<html>
<head>
  <title>TAS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			 <a class="brand">OkonBook</a>
			 <ul class="nav">
			 	<li><%= link_to "Wszystkie wpisy", statuses_path %></li>
			 </ul>
		</div>
	</div>
</div>
	
<!-- Alerty od devise -->
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
<!-- end -->
	
</header>
<!--HEADER-->


<div class="container">
	



<%= yield %>




<footer></footer>
<!--FOOTER -->
</div>
</body>
</html>
