<!DOCTYPE html>
<html>

<head>
  <title>TAS</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>

</head>

<body>
  <header>
    <div class="container">
      <nav class="navbar navbar-default">
        <div class="container">
          <div class="col-md-2">
            <div class="navbar-header">

              <% if user_signed_in? %>
                <%= link_to 'OkonBook', feed_path, class: "navbar-brand"   %>
              <% else %>
                    <a href="#" class="navbar-brand">OkonBook</a>
              <% end %>
            </div>
          </div>
          <div class="col-md-8">
            &nbsp;
          </div>
          <div class="col-md-2">
            <% if user_signed_in? %>
              <div class="align-right">
                <div class="row full_name">
                  <div class="col-md-12">
                    <%= link_to current_user.full_name %>
                  </div>
                </div>
                <div class="row option">
                  <div class="col-md-3">
                    <%= link_to icon('plus'), new_status_path %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to icon('cog'), edit_user_registration_path %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to 'Friends', user_friendships_path %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to icon('sign-out'), logout_path %>
                  </div>
                </div>
              </div>
              <% else %>
                <div class="row option logout">
                  <div class="col-md-3">
                    <%= link_to icon('user-plus'), register_path %>
                  </div>
                  <div class="col-md-3">
                    <%= link_to icon('sign-in '), login_path %>
                  </div>
                </div>
                <% end %>
          </div>
      </nav>
      </div>
  </header>


  <div class="container">
    <% flash.each do | type, message | %>
      <div class="alert <%= flash_class type %>">
        <button class="close" data-dismiss="alert">x</button>
        <%= message %>
      </div>
      <% end %>
  </div>


  <div class="container">
    <%= yield %>
      <footer></footer>
      <!--FOOTER -->
  </div>
</body>

</html>
